<div id="leaveApplicationSection">
  <div class="card">
    <div class="card-body">
      <div class="leave-app-heading">
        <h1>Leave Application</h1>
      </div>

      <div class="leave-app-forms">
        <form [formGroup]="leaveForm" (ngSubmit)="onFormSubmit()">
          <span class="p-float-label form-group">
            <input
              class="form-input"
              id="float-input empId"
              formControlName="emp_id"
              type="text"
              pInputText
              [matAutocomplete]="auto"
              [required]="true"
            />
            <label for="float-input">Employee ID</label>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let empId of emp_details"
                [value]="empId.emp_id"
              >
                {{ empId.emp_id }}
              </mat-option>
            </mat-autocomplete>
          </span>

          <span class="p-float-label form-group">
            <input
              class="form-input"
              id="fName"
              formControlName="f_name"
              type="text"
              pInputText
            />
            <label for="fName">First Name</label>
          </span>

          <span class="p-float-label form-group">
            <input
              class="form-input"
              id="lName"
              formControlName="l_name"
              type="text"
              pInputText
            />
            <label for="lName">Last Name</label>
          </span>

          <span class="p-float-label form-group calender-span">
            <p-calendar
              class="form-input"
              id="leaveStartDate"
              formControlName="leaveStartDate"
              [showButtonBar]="true"
              [minDate]="minDateValue"
              [maxDate]="maxDateValue"
              [readonlyInput]="true"
              [required]="true"
            ></p-calendar>
            <label for="leaveStartDate">Start Date</label>
          </span>

          <span class="p-float-label form-group calender-span">
            <p-calendar
              class="form-input"
              id="leaveEndDate"
              formControlName="leaveEndDate"
              [showButtonBar]="true"
              [minDate]="minDateValue"
              [maxDate]="maxDateValue"
              [readonlyInput]="true"
              [required]="true"
            ></p-calendar>
            <label for="leaveEndDate">End Date</label>
          </span>

          <span class="p-float-label form-group" style="width: 100%">
            <p-dropdown
              class="form-input"
              [options]="leaveTypes"
              formControlName="selectedLeaveType"
              optionLabel="name"
              optionValue="value"
              placeholder="Select Leave Type"
              [showClear]="true"
              [required]="true"
              [style]="{ minWidth: '100%' }"
            ></p-dropdown>
          </span>

          <span class="p-float-label form-group">
            <textarea
              class="form-input"
              pInputTextarea
              id="leaveReason"
              formControlName="leaveReason"
              [rows]="5"
              [cols]="30"
              [autoResize]="true"
              [required]="true"
            ></textarea>
            <label for="leaveReason">Reason for Leave</label>
          </span>

          <span class="form-group">
            <button
              pButton
              pRipple
              type="submit"
              label="Submit"
              class="p-button-rounded p-button-success custom-btn"
            ></button>
          </span>
        </form>
      </div>
    </div>
  </div>
</div>
